@use '../globals/variables' as *;

.blog-listing {
    padding-top: 80px;
    padding-bottom: 80px;

    @media (max-width: 767px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &__wrap {
        gap: 120px 24px;

        @media (max-width: 767px) {
            gap: 40px;
        }
    }

    &__item {
        width: calc((100% - 24px) / 2);

        @media (max-width: 767px) {
            width: 100%;
        }

        h2 {
            font-size: 32px;
            font-weight: 600;
            line-height: 120%;
            letter-spacing: -0.64px;
            margin-bottom: 24px;

            @media (max-width: 767px) {
                font-size: 20px;
                letter-spacing: -0.4px;
                margin-bottom: 16px;
            }

            a {
                text-decoration: none;
                color: $black;
            }
        }

        h3 {
            font-size: 14px;
            font-weight: 500;
            line-height: 150%;
            letter-spacing: -0.28px;
            color: $black;
            margin-bottom: 24px;

            @media (max-width: 767px) {
                font-size: 14px;
                letter-spacing: -0.28px;
                line-height: 140%;
                margin-bottom: 16px;
            }
        }
    }
}