@use '../globals/variables' as *;

.button {
    display: inline-block;
    color: $purple;
    font-size: 14px;
    font-family: $fontInter;
    text-decoration: none;
    font-weight: 600;
    
    &-border {
        border: 1px solid $purple;
        border-radius: 8px;
        padding: 8px 16px;
        line-height: 120%;

        svg {
            vertical-align: top;
            margin-right: 8px;
        }

        &.button-red {
            color: $red;
            border-color: $red;
        }
    }

    &-primary {
        color: $white;
        background-color: $purple;
        border-radius: 8px;
        padding: 8px 16px;
        line-height: 16px;

        svg {
            vertical-align: top;
            margin-left: 8px;
        }
    }

    &-nav {
        font-size: 16px;

        &--logged-in {
            svg {
                margin-right: 0;
                margin-left: 8px;
                margin-top: 1px;
            }
        }
    }

    &-large {
        padding: 16px 24px;
    }

    &.button-red {
        color: $red;
    }
}