@use '../globals/variables' as *;

footer {
    background-color: $black;
    color: $white;
    padding-top: 40px;
    padding-bottom: 40px;
    
    img {
        vertical-align: middle;
    }

    .footer-content {
        font-size: 13px;
        
        a {
            color: $white;
            text-decoration: underline;
        }

        ul {
            gap: 24px;
            width: 100%;

            li {
                &:last-child {
                    margin-left: auto;
                }
            }

            @media (max-width: 767px) {
                flex-wrap: wrap;

                li {
                    &:first-child {
                        width: 100%;
                    }
                }
            }
        }
    }
}