@use '../globals/variables' as *;

table {
    width: 100%;
    table-layout: fixed;

    th {
        font-size: 20px;
        letter-spacing: -0.4px;
        font-weight: 600;
        color: $purple;
        text-align: right;
        padding-bottom: 24px;

    }

    td {
        padding-top: 16px;
        padding-bottom: 16px;
        font-family: $fontInter;
        font-size: 14px;
        letter-spacing: -0.28px;
        font-weight: 500;
        color: $black;
        text-align: right;

        &:first-child {
            color: $grey;
            text-align: left;
        }
    }
    
    tr {
        border-bottom: 1px solid $grey;

        &:first-child {
            td {
                padding-top: 0;
            }
        }
    }
}