@use '../../globals/variables' as *;

.profile-container {
    padding-top: 80px;
    padding-bottom: 80px;

    &__wrap {
        gap: 24px;

        & > div {
            width: 100%;
        }

        @media (max-width: 767px) {
            flex-wrap: wrap;
        }
    }

    &__test-1 {
        margin-bottom: 24px;
    }

    &__left {
        display: flex;
        flex-direction: column;

        &-footer {
            margin-top: auto;
            
            a {
                color: $purple;
                font-size: 14px;
                font-weight: 600;
                line-height: 120%;
            }
        }
    }

    &__right {
        &-footer {
            margin-top: 32px;
            text-align: right;
            gap: 16px;
            display: flex;
            align-items: center;
            justify-content: end;

            a {
                color: $purple;
                text-decoration: none;
            }
        }
    }
}