@use '../../globals/variables' as *;

.test-page-b,
.test-page {
    padding-top: 80px;
    padding-bottom: 80px;

    @media (max-width: 767px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &__tab-heading {
        display: inline-block;
        background-color: $purple;
        border-radius: 8px;
        padding: 4px;
        position: relative;

        &-background {
            position: absolute;
            left: 4px;
            top: 4px;
            border-radius: 4px;
            background-color: $white;
            transition: $transition;
            z-index: 1;
        }

        &-wrap {
            gap: 4px;
        }

        a {
            text-decoration: none;
            color: $white;
            display: inline-block;
            font-size: 14px;
            line-height: 120%;
            font-weight: 600;
            padding: 11.61px 16px;
            transition: $transition;

        }

        &-item {
            position: relative;
            z-index: 2;

            &.active {
                a {
                    color: $purple;
                }
            }
        }
    }

    &__tab-item {
        display: none;

        &.active {
            display: block;
        }
    }

    &__buddy {
        &-wrap {
            gap: 64px 24px;
            margin-top: 64px;

            @media (max-width: 767px) {
                gap: 16px;
                margin-top: 40px;
            }
        }

        &-item {
            width: calc((100% - 48px) / 3);

            &-wrap {
                gap: 16px;

                @media (max-width: 767px) {
                    flex-wrap: wrap;
                }
            }

            h3 {
                font-size: 16px;
                line-height: 140%;
                letter-spacing: -0.32px;
                font-weight: 500;
                margin-bottom: 8px;
            }

            @media (max-width: 991px) {
                width: calc((100% - 24px) / 2);
            }

            @media (max-width: 767px) {
                width: 100%
            }
        }

        &-left {
            width: 64px;
        }

        &-right {
            @media (max-width: 767px) {
                width: 100%;
            }
        }

        &-image {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 0;
            padding-bottom: 100%;
            background-color: $cream;
            border-radius: 100%;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__tab-heading {
        margin-bottom: 48px;
    }

    &__description {
        max-width: 690px;

        h2 {
            font-size: 20px;
            line-height: 140%;
            letter-spacing: -0.4px;
            font-weight: 600;
            margin-bottom: 24px;
        }

        p {
            color: $grey;
            line-height: 140%;
            letter-spacing: -0.36px;
            font-weight: 500;
            font-size: 18px;

            a {
                color: $purple;
            }
        }
    }

    &__guidelines {
        margin-top: 56px;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.32px;

        h3 {
            font-size: 20px;
            font-weight: 600;
            letter-spacing: -0.4px;
            line-height: 140%;
            margin-bottom: 24px;
        }
    }

    .submit-results {
        h3,
        h2 {
            font-size: 20px;
            font-weight: 600;
            line-height: 140%;
            letter-spacing: -0.4px;
            margin-bottom: 56px;

            @media (max-width: 767px) {
                margin-bottom: 24px;
                font-size: 16px;
                line-height: 140%;
                letter-spacing: -0.32px;
            }
        }
        
        .form-row {
            &--buddy-details-heading {
                margin-bottom: 0;
                margin-top: 56px;

                @media (max-width: 767px) {
                    margin-top: 24px;
                }
            }

            &--buddy-details {
                margin-bottom: 56px;
            }
        }
    }
}

.test-page-b {
    &__form {
        margin-top: 48px;
    }

    .form-container {
        & > .form-row {
            justify-content: space-between;
        }
    }

    .form-row {
        &--textarea {
            max-width: 486px;
        }

        &--width-384 {
            max-width: 384px
        }
    }

    .form-col {
        &--width-486 {
            max-width: 486px;
        }
    }

    &__thank-you {
        display: none;
        padding-bottom: 261px;

        @media (max-width: 767px) {
            padding-bottom: 40px;
        }

        &.active {
            display: block;
        }

        h3 {
            font-size: 20px;
            line-height: 130%;
            letter-spacing: -0.4px;
            font-weight: 600;

            a {
                color: $purple;
            }
        }
    }
}