@use '../../globals/variables' as *;

.homepage-intro {
    padding-top: 56px;
    padding-bottom: 56px;
    border-bottom: 1px solid $black;

    p {
        font-size: 18px;
        line-height: 140%;
        letter-spacing: -0.36px;

        @media (max-width: 767px) {
            font-size: 14px;
            letter-spacing: -0.28px;
            font-weight: 500;
        }
    }

    &__header {
        padding-bottom: 56px;

        img {
            max-width: 588px;
            height: auto;
            width: auto;

            @media (max-width: 767px) {
                max-width: 100%;
            }
        }

        @media (max-width: 767px) {
            padding-bottom: 24px;
        }
    }

    &__wrap {
        gap: 24px;

        & > div {
            width: calc((100% - 24px) / 2)
        }

        @media (max-width: 767px) {
            flex-wrap: wrap;

            & > div {
                width: 100%;
            }
        }
    }

    @media (max-width: 767px) {
        padding-top: 40px;
        padding-bottom: 40px;

        h1 {
            margin-bottom: 0;
        }
    }
}